services:
  redis:
    image: redis:8.2.3-alpine
    network_mode: host
  backend:
    image: denoland/deno:2.5.6
    depends_on:
      - redis
    network_mode: host
    working_dir: /app
    environment:
      - REDIS_HOST=redis
      - REDIS_USER=doplace
      - REDIS_PASSWORD=4D3v
      - REDIS_DB=
      - FRONTEND_ORIGIN=http://localhost:8001
      - JWT_SECRET=mySuperSecret
      - HASH_SECRET=anotherSuperSecret
    command: ["deno", "run", "dev"]
    volumes:
      - ./backend:/app
      - ~/.cache/deno:/deno-dir
  frontend:
    image: oven/bun:1.3-debian
    depends_on:
      - backend
    network_mode: host
    working_dir: /app
    command: ["bun", "run", "dev"]
    volumes:
      - ./frontend:/app
